.banner{
    background-image: url("../../assets/057068117235475.Y3JvcCw4MDgsNjMyLDAsMA.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

